<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag('emea.jpeg', class: "d-block w-100") %>
      <div class="carousel-caption d-none d-md-block">
        <h4>LCL восстает из пепла🔥</h4>
        <p>EMEA становится единым соревновательным регионом объединяя Турцию, страны СНГ и MENA с Европой</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag('lec_return.jpeg', class: "d-block w-100", style: "height: 720px") %>
      <div class="carousel-caption d-none d-md-block">
        <h4 style="padding-top: 50px">LEC возвращается уже 21 января!👾</h4>
        <p>21 января начинается борьба за плей-офф LEC. На нашем сайте Вы сможете найти актуальное расписание!</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag('fnatic.jpeg', class: "d-block w-100", style: "height: 720px") %>
      <div class="carousel-caption d-none d-md-block">
        <h4 style="color: #e87427; text-shadow: black 1px 1px 1px">Fnatic анонсировали новый состав</h4>
        <h5 style="color: #e87427; text-shadow: black 1px 1px 1px">Возвращение рекклеса в стан черно-оранжевых дает новую надежду на возвращение былых чемпионов Европы</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>