<div class="match_content">
  <h4 style="color: white; padding: 5px"><%= t 'results.index.win_bracket' %></h4>
  <div class="result_bracket">
    <div class="play_off_match">
      <%#= image_tag(Team.find_by_shortname('OBG').logo.variant(:match)) %>
      <span style="color:white">TBD</span>
      <span style="color:white">0 - 0</span>
      <span style="color:white">TBD</span>
      <%#= image_tag(Team.find_by_shortname('CC').logo.variant(:match)) %>
    </div>
    <div class="play_off_match">
      <%#= image_tag(Team.find_by_shortname('UOL').logo.variant(:match)) %>
      <span style="color:white">TBD</span>
      <span style="color:white">0 - 0</span>
      <span style="color:white">TBD</span>
      <%#= image_tag(Team.find_by_shortname('CC').logo.variant(:match)) %>
    </div>
    <div style="padding-left: 300px" class="play_off_match">
      <%#= image_tag(Team.find_by_shortname('CC').logo.variant(:match)) %>
      <span style="color:white">TBD</span>
      <span style="color:white">0 - 0</span>
      <span style="color:white">TBD</span>
      <%#= image_tag(Team.find_by_shortname('UOL').logo.variant(:match)) %>
    </div>
  </div>
  <h4 style="color: white; padding: 5px"><%= t 'results.index.los_bracket' %></h4>
  <div class="result_bracket">
    <div class="play_off_match">
      <%#= image_tag(Team.find_by_shortname('BSG').logo.variant(:match)) %>
      <span style="color:white">TBD</span>
      <span style="color:white">0 - 0</span>
      <span style="color:white">TBD</span>
      <%#= image_tag(Team.find_by_shortname('VEG').logo.variant(:match)) %>
    </div>
    <div>
      <div class="play_off_match">
        <%#= image_tag(Team.find_by_shortname('OBG').logo.variant(:match)) %>
        <span style="color:white">TBD</span>
        <span style="color:white">0 - 0</span>
        <span style="color:white">TBD</span>
        <%#= image_tag(Team.find_by_shortname('VEG').logo.variant(:match)) %>
      </div>
    </div>
    <div class="play_off_match">
      <%#= image_tag(Team.find_by_shortname('UOL').logo.variant(:match)) %>
      <span style="color:white">TBD</span>
      <span style="color:white">0 - 0</span>
      <span style="color:white">TBD</span>
      <%#= image_tag(Team.find_by_shortname('OBG').logo.variant(:match)) %>
    </div>
  </div>

</div>